
<div class="masterContent">
    <h1 class="title-content">Categories</h1>
    <div class="data-content">
        <div class="searchBox">
            <form action="/editCatogary" method="POST" class="addInTable">
                <div class="row">
                    <span>Category Name : </span>
                    <input type="text" name="catName" value="{{catName}}"> 
                    <input type="hidden" name="catId" value="{{catId}}"> 
                </div>
                <div class="row">
                    <span>Category Descraption : </span>
                    <input type="text" name="descraption" value="{{descraption}}">
                </div>
                <div class="row">
                    <span>Child Items : </span>
                    <select name="childItems" id="">
                           <option  value="start">Please Selecte Child Item</option>
                            {{#each  items}}
                               <option  value="{{this.itemName}}">{{this.itemName}}</option>
                            {{/each}}
                    </select>
                </div>
                <div class="row">
                    <span>Visibility : </span>
                    <div class="radios">
                      {{#if visibility }}
                        <input checked type="radio" id="vis" name="visibleItem" value="1"><label for="vis"> Visibile</label>
                       <input  type="radio" id="notVis" name="visibleItem" value="0"><label for="notVis"> Not Visibile</label>
                      {{else}}
                      <input  type="radio" id="vis" name="visibleItem" value="1"><label for="vis"> Visibile</label>
                       <input checked type="radio" id="notVis" name="visibleItem" value="0"><label for="notVis"> Not Visibile</label>
                      {{/if}}
                    </div>
                </div>
                <div class="row">
                    <span>Allow Comment : </span>
                    <div class="radios">
                        {{#if allowComment }}
                            <input checked type="radio" id="allow" name="allowComment" value="1"><label for="allow"> Allowed</label>
                        <input type="radio" id="notAllow" name="allowComment" value="0"><label for="notAllow"> Not Allowed</label>
                        {{else}}
                            <input type="radio" id="allow" name="allowComment" value="1"><label for="allow"> Allowed</label>
                        <input checked type="radio" id="notAllow" name="allowComment" value="0"><label for="notAllow"> Not Allowed</label>
                        {{/if}}
                        
                    </div>
                </div>
                <div class="row">
                    <span>Allow Ads : </span>
                    <div class="radios">
                        {{#if allowAds }}
                              <input checked type="radio" id="ads" name="allowAds" value="1"><label for="ads"> Allowed</label>
                        <input type="radio" id="notAds" name="allowAds" value="0"><label for="notAds"> Not Allowed</label>
                        {{else}}
                              <input type="radio" id="ads" name="allowAds" value="1"><label for="ads"> Allowed</label>
                        <input checked type="radio" id="notAds" name="allowAds" value="0"><label for="notAds"> Not Allowed</label>
                        {{/if}}
                      
                    </div>
                </div>
                <div class="row">
                    <button class="save"><i class="fa-regular fa-pen-to-square"></i> Edit Catogery</button>
                </div>
            </form>
        </div>
    </div>