
<div class="masterContent">
    <h1 class="title-content">Dashboard</h1>
    <div class="data-content">
        <div class="widgets">
            <div class="wid widget1">
                <div class="title">Total Catogers</div>
                <div class="body">
                    <div><i class="fa fa-list-alt" aria-hidden="true"></i></div>
                    <div><a href="/catogeries">{{cat}}</a></div>
                </div>
            </div>
            <div class="wid widget2">
                <div class="title">Total Items</div>
                <div class="body">
                    <div><i class="fa-solid fa-square-nfi"></i></div>
                    <div><a href="/items">{{item}}</a></div>
                </div>
            </div>
            <div class="wid widget3">
                <div class="title">Total Members</div>
                <div class="body">
                    <div><i class="fa-regular fa-address-card"></i></div>
                    <div><a href="/members">{{member}}</a></div>
                </div>
            </div>
            <div class="wid widget4">
                <div class="title">Total Admins</div>
                <div class="body">
                    <div><i class="fa-solid fa-lock"></i></div>
                    <div><a href="/members">{{admin}}</a></div>
                </div>
            </div>
            <div class="wid widget5">
                <div class="title">Total Users</div>
                <div class="body">
                    <div><i class="fa-solid fa-user-tie"></i></div>
                    <div><a href="/members">{{user}}</a></div>
                </div>
            </div>
            <div class="wid widget6">
                <div class="title">Total Comments</div>
                <div class="body">
                    <div><i class="fa-solid fa-comment"></i></div>
                    <div><a href="/comments">{{comments}}</a></div>
                </div>
            </div>
        </div>
    </div>