
<div class="masterContent">
    <h1 class="title-content">Dashboard</h1>
    <div class="data-content">
        <div class="chart">
            <div>
                <canvas id="myChart"></canvas>
            </div>
        </div>
        <div id="w1" class="h-s">{{cat}}</div>
        <div id="w2" class="h-s">{{item}}</div>
        <div id="w3" class="h-s">{{member}}</div>
        <div id="w4" class="h-s">{{admin}}</div>
        <div id="w5" class="h-s">{{user}}</div>
        <div id="w6" class="h-s">{{comments}}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const ctx = document.getElementById('myChart');

        new Chart(ctx, {
            type: 'doughnut', //doughnut,pie
            data: {
                labels: ['Total Catogers', 'Total Items', 'Total Members', 'Total Admins', 'Total Users', 'Total Comments'],
                datasets: [{
                    label: 'E Commerce Shop',
                    data: [document.getElementById("w1").innerHTML, document.getElementById("w2").innerHTML, document.getElementById("w3").innerHTML, document.getElementById("w4").innerHTML, document.getElementById("w5").innerHTML, document.getElementById("w6").innerHTML],
                    borderWidth: 3
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: false
                    }
                }
            }
        });
    </script>